<h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please
  <a (click)="auth.login()">Log In</a> to continue.
</h4>
<div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in vulputate nulla. Proin eget magna posuere tortor facilisis
    suscipit in vel ipsum. Donec nisi dui, finibus eu pulvinar vel, tincidunt ac tellus. Proin at tellus nec mauris ultrices
    tristique eu et dolor. Etiam placerat finibus lorem a malesuada. Aliquam ut sollicitudin nisi, eu dapibus tortor. Mauris
    vel aliquet diam. Nullam nec tortor nisi. Duis elementum orci sit amet leo aliquet, quis condimentum velit efficitur.
    Quisque non dapibus mauris. Phasellus eu feugiat dui, et pellentesque eros. Donec ac ex turpis. Phasellus nisi leo, ultrices
    non ipsum quis, tincidunt scelerisque felis. Praesent sit amet magna ut nulla bibendum lobortis non ut dolor. Suspendisse
    luctus libero sit amet viverra mollis.
  </p>
  <p>
    Aliquam lacinia, est volutpat auctor posuere, metus est finibus neque, vel efficitur massa magna eget arcu. Fusce nibh orci,
    iaculis et orci id, porttitor elementum justo. Donec nec velit non arcu fermentum sollicitudin. Pellentesque tempus aliquam
    purus. Curabitur pharetra felis eu elit egestas, et dignissim justo venenatis. Mauris ultricies ligula eu ullamcorper
    gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent purus tellus,
    congue quis iaculis non, dictum ac nunc. Etiam nec imperdiet lorem, ac malesuada nisl. Praesent est arcu, ultricies quis
    nibh sed, molestie lobortis lectus. Proin sit amet sem pretium, vulputate mauris non, ullamcorper elit. Sed leo turpis,
    auctor eget purus vitae, faucibus dignissim massa.
  </p>
  <p>
    Donec aliquam ex at lectus porta accumsan. Quisque bibendum suscipit enim id egestas. Cras vel imperdiet turpis, non faucibus
    eros. Vestibulum aliquam dolor et leo consequat, eget lacinia velit tempus. Nulla molestie purus sed nulla fringilla
    posuere. Etiam accumsan tempus orci, vel mattis nunc faucibus id. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Nunc justo quam, semper suscipit ipsum eu, viverra eleifend elit. Duis congue iaculis
    sapien, laoreet facilisis nisl. Sed metus ipsum, hendrerit gravida metus in, ultricies dapibus magna.
  </p>
</div>
