<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button id="qsLoginBtn" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
      Log In
    </button>
    <button mat-button id="qsLogoutBtn" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      Log Out
    </button>
    <button mat-button [routerLink]="['users']" *ngIf="isRegistered"> User </button>
    <button mat-button [routerLink]="['group']" *ngIf="isRegistered"> Group </button>
    <div style="flex-grow: 1"></div>
    <button mat-button [routerLink]="['profile']" *ngIf="isRegistered" >{{auth.getName()}}</button>

  </mat-toolbar-row>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>
