<h1>Header</h1>
<form>
    <mat-toolbar >Group List</mat-toolbar>
        <mat-list role="list" *ngFor="let grp of groups">
            <mat-list-item role="listitem"><a [routerLink]= "['chat',grp.gname]">{{grp.gname}}</a>
               <button mat-button (click) ='joinUsetTotheGroup(grp.gname)'>Join</button>
               <button mat-button  >Leave</button>
               <button mat-button [routerLink]="[grp.gname]">Detail</button>
               <button mat-button (clik) ="delete(grp.gname)">Delete</button>
            </mat-list-item>
      </mat-list>
     

</form>
<router-outlet></router-outlet>
 